/* assets/style.css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo claro */
    color: #6c757d; /* Color de texto gris */
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #e7e7e7;
    font-size: 14px;
}

.footer a {
    color: #007bff; /* Color de link azul */
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}